<h1>Q-Learning - Cliff Walking</h1>

<form>
  <div class="form-group">
    <label for="episodes">Número de episódios</label>
    <input type="text" class="form-control" id="episodes" placeholder="Episódios" ng-model="episodes">
  </div>
  <div class="form-group">
      <label>
        <input type="radio" ng-model="method" value="egreedy">
        epsilon-Guloso
      </label><br/>
      <label>
        <input type="radio" ng-model="method" value="greedy">
        Guloso
      </label><br/>
      <label>
        <input type="radio" ng-model="method" value="softmax">
        Softmax
      </label><br/>
  </div>
  <button type="button" class="btn btn-default" ng-click="execute()">Executar</button>
</form>

<highchart id="chart1" config="chartConfig"></highchart>

<p class="lead">
  {{rl}}
</p>

<div class="row marketing">

</div>
